
body {
    font-family: arial,sans-serif;
    padding: 0px;
    margin: 0px;
    overflow: auto;
}

div.main {
    margin: 1em 3em 1em 3em;
}

div.header1 {
    width: 100%;
    text-align: center;
}

img.gallery {
    margin: 2em;
    padding: 1em;
    border: 1px solid #d0d0d0;
}

img.header1 {
    opacity: 0.2;
    margin: auto;
}

img.footer1 {
    opacity: 0.2;
    margin: auto;
}

div.header2 {
    background-color: #d4d4d4;
    width: 100%;
    padding: 0.25em 0em 0.1em 0em;
    border-top: 2px solid #bbbbcc;
    border-bottom: 2px solid #bbbbcc;
}

div.footer2 {
    background-color: #d4d4d4;
    width: 100%;
    padding: 0.25em 1em 0.1em 0em;
    border-top: 2px solid #bbbbcc;
    border-bottom: 2px solid #bbbbcc;
    margin: 3em 0em 0em 0em;
}

img.header_logo {
    width: 80px;
    height: 115px;
    border: 1px solid #aaaabb;
}

img.floating_logo {
    float: left;
    padding: 5px;
}

h3 {
    padding-top: 1em;
    clear: both;
}

img.index_example {
    width: 400px;
    height: 400px;
    padding: 0.5em;
}

img.test_result {
    width: 600px;
    height: 600px;
    padding: 0.5em;
}

img.nav_circle {
    width: 115px;
    height: 115px;
}

div.footer1 {
    border-top: 2px solid #bbbbcc;
    width: 100%;
    text-align: center;
}

pre {
    padding: 0.5em;
    margin: 1em 0em 0.5em 1em;
    line-height: 150%;
}

table.figure {
    margin-bottom: 0.5em;
    background-color: #dcdcdc;
    border: 2px solid #acacac;
}

span.circleator_heading {
    color: #a1a3aa;
    background-color: #182d6c;
    font-weight: bold;
    padding: 2px;
}

span.circleator {
    font-weight: bold;
}

span.ringmaster {
    font-weight: bold;
}

span.cmdline_opt {
    font-weight: bold;
}

span.downloads {
    font-size: smaller;
}

th.figure_caption {
    text-align: left;
}

span.figure_caption {
    text-align: left;
}

span.graph {
    font-weight: bold;
}

span.feature_type {
    font-weight: bold;
}

img.zoom {
    position: relative;
    width: 100%;
    background-color: #ffffff;
    float: left;
}

span.zoom {
    opacity: 0.5;
    padding: 0.25em; 
    border: 1px solid black;
    background-color: #000000;
    color: #ffffff;
    font-size: smaller;
}

span.track_heading {
    background-color: #dcdcff;
    color: #040474;
    padding: 2px;
    margin: 1px;
    border: 1px solid #040474;
}

span.track {
    color: #040474;
    padding: 2px;
}

span.option_heading {
    background-color: #ececff;
    color: #060694;
    padding: 2px;
    margin: 1px;
    border: 1px solid #cccccc;
}

span.option {
    color: #060694;
    padding: 2px;
}

img.screenshot {
    margin: 1em;
    width: 800px;
}

div.screenshot_num {
    font-size: larger; 
    z-index: 200; 
    width: 1em; 
    border: 1px solid #ff0000; 
    color: #ff0000; 
    padding: 0.5em; 
    background-color: #ffd0d0; 
    opacity: 0.6;
}

h3.test {
    border-bottom: 1px solid black;
}

table.test_ok {
    background-color: #d0d0d0;
    border: 1px solid #a0a0a0;
}

table.test_not_ok {
    background-color: #ffd0d0;
    border: 1px solid #a0a0a0;
}

span.test_key {
    font-weight: bold;
}

span.test_ok {
}

span.test_not_ok {
    background-color: #ffd0d0;
    border: 1px solid #a0a0a0;
    font-size: larger;
}

td.test {
    text-align: center;
    align: center;
}

th.test {
    text-align: center;
}

span.config_field {
    font-weight: bold;
}

pre {
    background-color: #d0d0d0;
    border: 1px solid #a0a0a0;
    margin-right: 2em;
}

pre.illegal {
    background-color: #ffa0a0;
}